#mine_setmore{
	.top{
			line-height: 1rem;background: #ddd;text-align: center;font-size: 0.48rem;
		}
	input{    width: 3rem; border: 1px solid #dcdcdc; margin: 0.1rem 0.3rem; padding: 0 0 0 0.2rem;font-size: 0.5rem;} }
