#index_oldstatement{
	.time{
		padding-top: 2rem;
		.df{padding-bottom: 1rem;
		    .cjc_df1{height: 1rem;line-height: 1rem;text-align: center;font-size: 0.36rem;width: 2rem;}
			.df1{height: 1rem;line-height: 1rem;text-align: center;font-size: 0.36rem;
				select{border: 1px solid #ccc;color: #656565;padding-top: 0;    height: 0.8rem;font-size: 0.4rem;width: 6.8rem;}
			}
		}
	}
	
	ion-content{top: 3.88rem;
		.color1{background: #ffeded;}
	}
}
