#tab_enter{
	.tip{
		line-height: 0.76rem;height: 0.8rem;text-align: center;font-size: 0.48rem;background-color: #ffdad7;
	}
	.cjc_table .table_header{
	    line-height: 0.8rem;height: 0.8rem;
	    .checkbox{padding: 0.1rem;}
	    >div{line-height: 0.76rem;}
	}
	.scroll-content{
		top: 2.78rem;bottom: 7.54rem;
		.table_body{
		    .df:last-child{background-color: #ffffb7;}
		}
	}
	.keyword{
		position: fixed;left: 0;width: 100%;height: 7.6rem;bottom: 0;
		.top{
			height: 1rem;background-color: #11c1f3;color: #fff;font-size: 0.4rem;
			.colorff{line-height: 1rem;margin: 0 0.1rem;}
			.df1{line-height: 1rem;
				.bg{width: 90%;height: 0.8rem;margin: 0.1rem 5%;background-color: #fff;padding-left: 0.1rem;font-size: 0.4rem;line-height: 0.78rem;font-size:0.6rem;font-weight: 600;
					span{    width: 2px; height: 0.6rem; display: inline-block; vertical-align: middle; background: #656565; margin-top: -0.14rem;} 
				}
				
			}
			.input_right{
				width: 1.2rem;
				.red{margin: 0.1rem 0;font-size: 0.4rem;}
				.color0{color: #fff;font-size: 0.3rem;}
			}
		}
		.cjc_click{overflow: hidden;}
		.w25{
				width: 25%;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;font-size: 0.8rem;line-height: 1.3rem;text-align: center;height: 1.4rem;
			}
		.w25:active{
			background-color: #ddd;
		}
		.w75{width: 75%;
			button{width: 90%;margin:0.24rem 5%;padding: 0.1rem 0;}
		}
	}
}
.nobdr{border-right: none !important;}
