#tab_mine,#mine_other,#mine_set{
  font-family:PingFangSC-Regular;
  .bj{  background-color:#f4f4f4;width:100%;height:100%; }
  .pad40{padding-top:0.4rem;}
  .mad20{margin:0.4rem 0 0 0.24rem ;}

  a{text-decoration: none;color:#333;}
  .backgroundImg{background: url(/img/hdqImg/hdqImg.png);background-size: 0.5rem 6rem;}

  background-color: #f4f4f4;
  .cjc_title_bg{background-color: #fff;width: 100%;height: 0.88rem;box-sizing: initial;line-height: 0.88rem;padding-top: 0.4rem;color: #333;
    .lh88{line-height: 0.88rem;}
    .ion-ios-arrow-left:before{color: #666;line-height: 0.88rem;width: 1.1rem;font-size:0.6rem;text-align:center;}
    .cjc_bank_add{width: 1.2rem;text-align: center}
  }

  .box20{padding-top:0.14rem;}
  .icon{font-size: 0.24rem;color:#cdcdcd;}
  .information_list{width:100%;}
  .item_box{
    width:100%;
    height:1.4rem;
    line-height: 1.4rem;
  }
  .mt33{margin: 0.5rem 0.11rem 0 0.3rem;}
  .iphone{font-size: 0.24rem;color: #999;}
  .btn{
    width:100%;
    padding: 0.8rem 0.3rem 0 0.3rem;
    .xia_but{
      width:6.9rem;
      height:0.88rem;
      border: 0;
      background-color: #29adfd;
      font-weight: 400;
      border-radius: 0.04rem;
    }
  }

}
.ion-chevron-right{font-size: 0.38rem !important;color:#cdcdcd;}