#mine_Printing{
	.top{
		
		
		.df{
			border-bottom: 1px dashed #ccc;
			padding: 0 0.3rem;
			button{margin: 0.2rem;}
		}
		.tc{height: 1rem;line-height: 1rem;font-size: 0.48rem;}
	}
	.bottom{font-size: 0.44rem;padding: 0.3rem;
		>div{margin-bottom: 0.4rem;line-height: 0.5rem;}
	}
}
