#index_oldstateDetail{
	.lh80{line-height: 0.8rem;text-align: center;border-bottom: 1px solid #ccc;font-size: 0.44rem;}
	ion-content{top: 3.28rem;}
	.cjc_table .table_body {
        font-size: 0.44rem;
    }
}
