#index_agency{
	button{padding: 0 0.1rem;width: 1rem;font-size: 0.34rem;min-height: 0.8rem !important;height: 0.8rem;line-height: 0.8rem;margin-left: 0.4rem;}
	.p20{
	    font-size: 0.4rem;
		.df1{line-height: 0.8rem;text-align: center;}
		input{width: 1.6rem;line-height: 0.8rem;height: 0.8rem;border: 1px solid #ccc;color: #656565;font-size: 0.43rem;}
		
	}
	.cjc_table .table_body{font-size: 0.44rem;}
	ion-content{
	    top:3.34rem;
		button{margin-left: 0;line-height: 0.6rem !important;height: 0.7rem !important;min-height: 0.6rem !important;margin-top: 0.16rem;}
	}
}
