#mine_discount{
	.middle{
		.border{border-bottom: 2px dashed #ccc;padding: 0.6rem 1rem; font-size:0.48rem;
			span{line-height: 0.8rem;}
			select{margin: 0 0.4rem;width: 3rem; height: 0.8rem; border: 1px solid #ccc; color: #656565;font-size: 0.5rem;}
		}
		
	}
}
