#tab_table{
    .scrolltop258 > .scroll-content{
        top:1.28rem
    }
	.cjc_scroll{
		width: 100%;overflow: scroll;
		.button-bar{width: 100%;padding: 0.1rem;}
		.button-bar>.button{padding: 0 0.1rem; font-size: 0.3rem;}
	}
	ion-content{
		.allDate{
			border-top: 1px solid #ccc;font-size: 0.4rem;overflow: hidden;

			.w25{
				width: 20%;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
				.tc{line-height: 0.6rem;}
				.top{border-bottom: 1px dashed #ccc;font-size: 0.48rem;}
				.blue{color: #11c1f3;font-size: 0.5rem;}
			}
			.bg{background-color: #11c1f3;
				.tc{color: #fff;}
				.bule{color: #fff;}
			}
			
		}
		.h60{height: 60px;}
	}
	.cjc_btn{position: fixed;left: 0;bottom: 1.08rem;width: 100%;background-color: #fff;padding: 0.1rem 0;}
}
